.Footer {
  background-color: #1e1e1e;         
  color: white;                      
  text-align: center;                
  padding: 20px 0;                   
  margin-top: 40px;                  
  width: 100%;
  font-family: Arial, sans-serif;
  border-top: 3px solid #4a4a4a;     
}

.footer-text {
  font-size: 14px;
  margin: 5px 0;
            
}

.footer-time {
  font-size: 16px;
  margin-top: 8px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #1282e4;                   
}