/* fadein and slide animation*/
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: black;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInDown 0.8s ease-out;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  flex: 1;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 15px;
}

.nav-item {
  color: rgb(18, 238, 36);
  font-size: 1rem;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
}


.nav-item:hover {
  background-color:white;
  transform: scale(1.05);
}


.nav-item.active {
  background-color: rgba(19, 207, 98, 0.3);
  font-weight: 700;
}


