.about-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  line-height: 1.6;
  background-color: white;
}

.about-title  {
  font-size: 30px;
  color:black;
  margin-bottom: 20px;
  font-weight: bold;
}

h3 {
  color: blue;
}

.about-text {
  font-size: 20px;
  color: black;
}


.about-list strong {
  color: #1a73e8;
}




