.cart-container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.input-section {
  display: flex;
  gap: 50px;
  margin-bottom: 15px;
}

.input-section input {
  flex: 1;
  padding: 8px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.cart-table th,
.cart-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.cart-table input {
  width: 50px;
  padding: 5px;
}



.message {
  background-color: white;
  color: black;
  max-width: 500px;
  padding: 8px;
  background-color: rgb(235, 199, 170);
  }

.totals {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}